<div mat-dialog-content>
  <p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.title" placeholder="Title" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.auther" placeholder="Auther" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Publish Date</mat-label>
      <input matInput [matDatepicker]="picker" [value]="data.publishDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    class="mat-raised-button mat-primary"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Update
  </button>
</div>
